@keyframes rotateColors {
  0% {
    box-shadow: 0 2px 10px #6930C3, 0 5px 10px #64DFDF;
  }
  33% {
    box-shadow: 0 2px 10px #64DFDF, 0 5px 10px  #6930C3;
  }
  66% {
    box-shadow: 0 2px 10px #64DFDF, 0 5px 10px  #6930C3;
  }
  100% {
    box-shadow: 0 2px 10px  #6930C3, 0 5px 10px #64DFDF;
  }
}

.card{
  position: relative;
  width: 100%;
  min-width: 300px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 32px;
  box-sizing: border-box;
  border-radius: 20px;
  animation: rotateColors 3s infinite;
  cursor: pointer;
}

.subcard{
  position: absolute;
  padding: 12px 28px;
  border-radius:10px;
  background: #252525;
  box-shadow: 1px 1px 10px #d0beffd2;
  bottom: -52px;


}

@media screen and (min-width: 1024px) {
  .subcard{
    left: -72px;
  }
}