
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
/*font-family: 'Space Mono', monospace;*/

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&family=Space+Mono:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&family=Space+Mono&display=swap");
/* font-family: 'Space Grotesk', sans-serif;*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: 'Montserrat', sans-serif; */

html {
  box-sizing: border-box;
  /* font-family: --apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  font-family: "Space Grotesk", sans-serif;
  scroll-behavior: smooth;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}
ul,
li,
h1,
h2,
h3,
p,
button {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
button {
  background: transparent;
  border: 0;
  outline: 0;
}
body {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00000A;
  /* overflow-x: hidden; */

  overscroll-behavior: none; /* //evita que nuestra app haga rebotes cuando usamos scroll */
}


.is-active {
  color: rgba(0, 146, 66, 1) !important;
}


/* Format Fonts */
/* h1 > span{
    color: #12D466;
  }
h2 > span{
  color: #12D466;
}
p > span{
  color: #12D466;
} */
h1{
  font-family: 'Monument Extended';
  font-style: normal;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 116.5%;
  /* identical to box height, or 35px */
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
}
h2{
  font-family: 'Monument Extended';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
h3{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 15px;
  letter-spacing: -0.05em;
  text-transform: capitalize;
  color:#ffffff;
}
p{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size:  0.8rem;
  line-height: 150%;
  /* or 18px */
  text-align: left;
  color: #FFFFFF;
}

/* Custom Elements */
.gray-btn , .green-btn{
  padding: 8px 12px 12px 12px;
  font-family: 'Monument Extended';
  font-style: normal;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 144.7%;

  text-align: center;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: #FFFFFF;

  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;

  transition: all 0.3s;
}
.gray-btn:hover , .green-btn:hover{
  
  background: white;
  color: #000000;
  
}
.gray-btn {
  background: rgba(158, 168, 189, 0.31);
  border: 1.5px solid #9EA8BD;
}
.green-btn{
  background: rgba(0, 146, 66, 0.3);
  border: 1.5px solid #12D466;
}
.custom-bottom-line{
  width: 90%;
  border: none;
  border-bottom: 0.5px solid #009242;
  margin-top: 64px;
}


/******* Tablet Styles ********/

@media (min-width: 760px) { 
  h1{
    font-size: 3.125rem;
  }
  h2{
    font-size: 30px;
  }
  h3{
    font-size: 1.125rem;
    line-height: 38px;
  } 
  p{
    font-size: 0.813rem;
    line-height: 16px;
  }
  .gray-btn , .green-btn{
    font-size: 1rem;
  }
  .custom-bottom-line{
    margin-top: 84px;

  }
}

/******* Small Desktop *******/
@media (min-width: 1024px) { 
  h3{
    font-size:1.125rem;
  }
  .custom-bottom-line{
    margin-top: 132px;
    max-width: 1108px;
  }
}


/******* Large Desktop Styles *******/

@media (min-width: 1200px) { 
  h2{
    font-size: 35px;
  }
  p{
    font-size: 0.938rem;
    line-height: 18px;
  }
}


/******* Extra Large Desktop Styles *******/

@media (min-width: 1680px) { 
  
}