@import "tailwindcss";
html,body {
 overscroll-behavior: none;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 background-color: #000000;
 color:white;
}

/* Clase personalizada para padding horizontal */
.container {
	@apply px-8 lg:px-20 mx-auto;
}


